{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Training Courses{% endblock %}
{% block body %}

<style>
  .select{

      width: 500px;
      margin-left: 300px;
  }

  .container{
    position: relative;
  }


  .btn-loc{

    position: absolute; 
    width: 300px;
    margin-left:400px;
  }

  .exampleFormControlSelect1{
    margin-left: 300px;
    font-weight: bold;

  }

  #urSlot h3{
    text-align: center;
  }

</style>

<div style="padding-top:7rem;" class="container">
 
  
 
  <form class="selectLoc">
   
    <div class="form-group">
      <label class="exampleFormControlSelect1">Select Location</label>
      <select class="form-control select" id="area">
        <option>B1</option>
        <option>A1/option>
        <option>C1</option>
      </select>
      <button type="submit" class="btn btn-primary btn-loc">Submit</button>

    </div>
  
  </form>
</div>


<div style="padding-top:7rem;" class="container">
 
  
      <div id="urSlot">
      </div>
   
     
     
</div>
<!-- Trigger the modal with a button -->

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <p>Click Register to approve Registration</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

        <p>Pick Number of Hours for parking</p>
        <div class="input-group number-spinner">
          <span class="input-group-btn">
            <button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus">-</span></button>
          </span>
          <input type="text" id="hours" class="form-control text-center" value="1">
          <span class="input-group-btn">
            <button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus">+</span></button>
          </span>
        </div>

        <p>Google map shows parking lots in suez university </p>
        
        <iframe src="https://www.google.com/maps/d/embed?mid=1-G04nGWukSaqDV62m0vmAAbdxY6EgnmB" width="460" height="400"></iframe>

      </div>
      <div class="modal-footer">
        <button type="button" id="registerSpace" class="btn btn-default" data-dismiss="modal">Register</button>
      </div>
    </div>
  </div>
</div>



<div id="parkingslot" class="container">

</div>




{% endblock %}


