{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Training Courses{% endblock %}
{% block body %}


<div style="padding-top:7rem;" class="container">
 
    <h1>Avaliable Parking Slots</h1>

    <div class="slot">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 sidenav">
                <p>Parking Space Available</p>
                <img class="img-fluid" style="width: 100px;height: 100px;" src="static/img/p.png" alt="alternative">

            
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-12 sidenav">
                <p>Parking Space Occupied</p>
                <img class="img-fluid" style="width: 100px;height: 100px;" src="static/img/nop.jpg" alt="alternative">
                         
            </div>  
        </div>

     
       
        <div style="margin-top: 3rem;" class="headerSlotes">  
          <h3>Please check the Slots Where you want to Park Your Car</h3>
        </div>

        <div style="margin-top: 1rem;" class="row">
           
        
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
                    <div class="slot1">
                
                      <h6>Slot 1</h6>
                      <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/p.png" alt="alternative">
                    </div>
            </div>
    

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
                <div class="slot2">
            
                  <h6>Slot 2</h6>
                  <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/p.png" alt="alternative">
                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
                <div class="slot3">
            
                  <h6>Slot 3</h6>
                  <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/p.png" alt="alternative">
                </div>

            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
                <div class="slot4">
            
                  <h6>Slot 4</h6>
                  <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/p.png" alt="alternative">
                </div>

            </div>
        </div>


        <div style="margin-top: 1rem;" class="row">
           
        
          <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
                  <div class="slot1">
              
                    <h6>Slot 5</h6>
                    <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/p.png" alt="alternative">
                  </div>

          </div>
  

          <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
              <div class="slot2">
          
                <h6>Slot 6</h6>
                <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/p.png" alt="alternative">
              </div>

          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
              <div class="slot3">
          
                <h6>Slot 7</h6>
                <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/nop.jpg" alt="alternative">
              </div>

          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-12 sidenav">
              <div class="slot4">
          
                <h6>Slot 8</h6>
                <img class="img-fluid" style="width: 80px;height: 80px;" src="static/img/p.png" alt="alternative">
              </div>

          </div>
        </div>

    </div>


</div>
{% endblock %}


